<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bai Tap</title>
    <link rel="stylesheet" href="index.css">

</head>

<body>
    <header>
        <h1 style="text-align: center">DANH SACH CAC MON HOC</h1>
    </header>
    <div class="content">

        <table style="width:100% ; size: 70px;">
            <tr style="background: rgb(143, 197, 89);">
                <th>STT</th>
                <th>Tên môn học</th>
                <th>Loại môn học</th>
                <th>Học kỳ</th>
                <th>Khoa</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Cơ sở dữ liệu</td>
                <td>Cơ sở</td>
                <td>HK1-2022-2023</td>
                <td>K.CNTT</td>
            </tr>
            <tr>
                <td>2</td>
                <td> Cấu trúc dữ liệu</td>
                <td>Cơ sở</td>
                <td>HK1-2022-2023</td>
                <td>K.CNTT</td>
            </tr>
            <tr>
                <td>3</td>
                <td> Công nghệ phần mềm</td>
                <td>Cơ sở nghành</td>
                <td>HK1-2022-2023</td>
                <td>K.CNTT</td>
            </tr>
            <tr>
                <td>4</td>
                <td> Công nghệ mới</td>
                <td>Chuyên nghành</td>
                <td>HK1-2022-2023</td>
                <td>K.CNTT</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Đồ án môn học</td>
                <td>Chuyên nghành</td>
                <td>HK1-2022-2023</td>
                <td>K.CNTT</td>
            </tr>
        </table>
    </div>
</body>

</html>